/* ---------------- Title ---------------- */
h1 {
    /*color: #A9CBB7;*/
    font-size: 30px;
    font-smooth: never;
    -webkit-font-smoothing : none;
    margin-left: 180px;
    font-family: "Comic Sans MS";
    text-align: center;
}

/* ---------------- Sidebar ---------------- */
/* The side navigation menu */
.sidebar {
    font-size: 20px;
    font-family: "Comic Sans MS";
    margin: 0;
    /*padding: 0;*/
    width: 200px;
    /*background-color: #f1f1f1;*/
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: black;
    color: white;
}

/*!* Links on mouse-over *!*/
.sidebar a:hover:not(.active) {
    /*background-color: #555;*/
    color: white;
}

/* ---------------- Page content ---------------- */
/*The value of the margin-left property should match the value of the sidebar's width property*/
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 450px;
}

/* ---------------- Home ---------------- */
.home {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 80%;
    max-width: 100%;
    display: block;
    z-index:-1;
    /*top: 0;*/
}

/* ---------------- Personal links ---------------- */
.personallinks {
    font-size: 20px;
    margin-left: 200px;
    /*padding: 0;*/
    width: 200px;
    /*background-color: #f1f1f1;*/
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

.personallinks a {
    display: block;
    padding: 5px;
    color: #fed9ff;
    text-decoration: none;
}

/*!* Links on mouse-over *!*/
.personallinks a:hover:not(.active) {
    background-color: #fed9ff;
    color: white;
}

/* ---------------- Play ---------------- */

/* ---------------- Tattoo ---------------- */
/*animation container*/
.tattoo-animation {
    width: 500px;
    display: block;
    top: 0;
}

div.wrapper {
    top: 0;
}


div.stencilflashtext {
    background-color: #fed9ff;
    /*width: 800px;*/
    /*height: 250px;*/
    width: 800px;
    max-width: 100%;
    max-height: 100vh;
    /*margin: auto;*/
    /*overflow-x: auto;*/
    font-family: "Comic Sans MS";
    /*overflow-y: auto;*/
    text-align: center;
    padding: 10px;
}

div.stencilflashimages {
    background-color: #fed9ff;
    width: 800px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.stencilflashimages img {
    height: 260px;
}

div.pencilflashtext {
    background-color: #fed9ff;
    /*width: 800px;*/
    /*height: 250px;*/
    width: 800px;
    max-width: 100%;
    max-height: 100vh;
    /*margin: auto;*/
    /*overflow-x: auto;*/
    font-family: "Comic Sans MS";
    /*overflow-y: auto;*/
    text-align: center;
    padding: 10px;
}

div.pencilflashimages {
    background-color: #fed9ff;
    width: 800px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.pencilflashimages img {
    height: 260px;
}

/* ---------------- Flexible device ---------------- */
/* On screens that are less than 700px wide, make the sidebar into a topbar */
/*@media screen and (max-width: 700px) {*/
/*    .sidebar {*/
/*        width: 100%;*/
/*        height: auto;*/
/*        position: relative;*/
/*    }*/
/*    .sidebar a {float: left;}*/
/*    div.content {margin-left: 0;}*/
/*}*/

/*!* On screens that are less than 400px, display the bar vertically, instead of horizontally *!*/
/*@media screen and (max-width: 400px) {*/
/*    .sidebar a {*/
/*        text-align: center;*/
/*        float: none;*/
/*    }*/
/*}*/