/* ---------------- Title ---------------- */
h1 {
    /*color: #A9CBB7;*/
    font-size: 30px;
    margin-left: 200px;
    /*font-family: "Lucida Console", monospace;*/
    text-align: center;
}

/* ---------------- Sidebar ---------------- */
/* The side navigation menu */
.sidebar {
    font-size: 20px;
    margin: 0;
    /*padding: 0;*/
    width: 200px;
    /*background-color: #f1f1f1;*/
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: black;
    color: white;
}

/*!* Links on mouse-over *!*/
.sidebar a:hover:not(.active) {
    /*background-color: #555;*/
    color: white;
}

/* ---------------- Page content ---------------- */
/*The value of the margin-left property should match the value of the sidebar's width property*/
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* ---------------- Home ---------------- */

/* ---------------- Personal links ---------------- */
.personallinks {
    font-size: 20px;
    margin-left: 200px;
    /*padding: 0;*/
    width: 200px;
    /*background-color: #f1f1f1;*/
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

.personallinks a {
    display: block;
    padding: 5px;
    color: rebeccapurple;
    text-decoration: none;
}

/*!* Links on mouse-over *!*/
.personallinks a:hover:not(.active) {
    background-color: rebeccapurple;
    color: white;
}

/* ---------------- Play ---------------- */

/* ---------------- Tattoo ---------------- */
/*animation container*/
.tattoo-animation {
    width: 500px;
    display: block;
    top: 0;
}

div.flash {
    background-color: #fed9ff;
    width: 800px;
    height: 250px;
    margin-left: 400px;
    overflow-x: auto;
    overflow-y: auto;
    text-align: center;
    /*padding: 20px;*/
}

/* ---------------- Flexible device ---------------- */
/* On screens that are less than 700px wide, make the sidebar into a topbar */
/*@media screen and (max-width: 700px) {*/
/*    .sidebar {*/
/*        width: 100%;*/
/*        height: auto;*/
/*        position: relative;*/
/*    }*/
/*    .sidebar a {float: left;}*/
/*    div.content {margin-left: 0;}*/
/*}*/

/*!* On screens that are less than 400px, display the bar vertically, instead of horizontally *!*/
/*@media screen and (max-width: 400px) {*/
/*    .sidebar a {*/
/*        text-align: center;*/
/*        float: none;*/
/*    }*/
/*}*/